body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.listAvatar {
    float: left;
    margin-right: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.avatar {
    float: left;
    margin-right: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.articleHeading {
    min-height: 210px;
}

.currentPage {
    font-size: 24px;
}

.postComment {
    margin-top: 30px;
}

.addexLink {
    font-size: 20px;
    border-bottom: 2px solid;
}
.comment {
    border-bottom: 1px solid;
    max-width: 90%;
}

.fieldDescription {
    width: 80px;
    display: inline-block;
}

.topmenu {
    border-bottom: 1px solid green;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.naviLink {
    font-size: 24px;
    border-bottom: 2px solid;
}

.currentUser {
    float: right;
    font-size: 20px;
    color: blue;
    margin-right: 15px;
}

.commentCount {
    margin-top: 5px;
    color: #ff560d !important;
}

.listHead {
    margin-bottom: -10px;
}

.listContent {
    margin-left: 10px;
}

.shortEx {
    margin-bottom: 5px;
}

.body {
    margin-left: 15px;
}

.articleHeading {
    margin-left: 15px;
}

.listEntry {
    margin-left: 15px;
    border-bottom: 1px solid;
}

a {
    color: #391617;
    text-decoration: none;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


