.main {
    max-width: 600px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: #ffffff;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.body img {
    width: 90%;
}

#login-form {
    margin: 1em;
}

#login-form input {
    font-size: 1.5em;
}

.postComment form textarea {
    width: 400px;
    height: 50px;
}

.addex textarea {
    width: 400px;
    height: 200px;
}

.addexLink, .ownLink, .owncLink, .allcLink {
    font-size: 20px;
    border: 1px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
    padding: 8px;
    border-radius: 10px;
    background-color: #ffb200;
    margin-left: 20px;
    margin-top: 5px;
    position: absolute;
    font-size: 15px;
}

.ownLink {
    margin-left: 80px;
}

.owncLink {
    margin-left: 140px;
}

.allcLink {
    margin-left: 220px;
}


.pageNavi {
    float: right;
}

.naviLink {
    font-size: 20px;
    border: 1px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
    padding: 8px;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #ffb200;
    font-size: 15px;
}


a:hover.addexLink, a:hover.ownLink, a:hover.naviLink, a:hover.owncLink, a:hover.allcLink {
    text-decoration: underline;
    background-color: #ffe900;
}

.listAvatar {
    float: left;
    margin-right: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.username {
    color: #e09d00;
    font-weight: bold;
}

.avatar {
    float: left;
    margin-right: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.articleHeading {
    min-height: 210px;
}

.currentPage {
    font-size: 24px;
}

.postComment {
    margin-top: 30px;
}


.comment {
    border-bottom: 1px solid;
    max-width: 90%;
}

.addexField {
    width: 80px;
    display: inline-block;
}

.topmenu {
    border-bottom: 1px solid green;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.currentUser {
    float: right;
    font-size: 20px;
    color: blue;
    margin-right: 15px;
}

.commentCount {
    margin-top: 5px;
    color: #ff560d !important;
}

.listHead {
    margin-bottom: -10px;
}

.listContent {
    margin-left: 10px;
}

.shortEx {
    margin-bottom: 5px;
}

.body {
    margin-left: 15px;
}

.articleHeading {
    margin-left: 15px;
}

.listEntry {
    margin-left: 15px;
    border-bottom: 1px solid;
    min-height: 100px;
}

a {
    color: #391617;
    text-decoration: none;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
/*
@media (min-width:320px) {  }
@media (min-width:480px) {  }
@media (min-width:600px) {  }
@media (min-width:801px) {  }
@media (min-width:1025px) {  } */
@media (min-width:801px) {
    .main {
        max-width: 800px;
    }
    /* hi-res laptops and desktops */
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        background-color: #ffffff;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

}


