* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  font-family: "museo-slab",serif;
  font-size: 1.2em;
  background: #f8f8f8;
  display: flex;
}

body.menu-collapsed #side-menu {
  width: 0;
  overflow: hidden;
}

#side-menu {
  height: 100%;
  background: #282828;
}

#side-menu .pure-menu {
  background: #282828;
  color: white;
}

.logged-in #login,
.logged-out #logout {
  display: none;
}

.favicon:hover {
  background: no-repeat url('../img/favicon-32x32.png') 5px 50% #fff;
  padding-left: 47px !important;
}


.favicon {
  background: no-repeat url('../img/favicon-32x32.png') 5px 50%;
  padding-left: 47px !important;
}

#top-menu {
  position: fixed;
}

#show-menu {
  cursor: pointer;
}

#main-content {
  position: relative;
  height: 100%;
  width: 100%;
}

header {
  font-family: "jaf-facitweb",sans-serif;
  position: relative;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

header.login {
  background: url("../img/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

header.image {
    color: white;
}

header.image div.overlay {
  position: absolute;
  background: rgba(10, 10, 10, 0.65);
  width: 100%;
  height: 100%;
}

.content {
  margin: 0 auto;
}

header div.title {
  position: absolute;
  bottom: 10%;
}

header div.title > * {
  display: block;
  margin: 0.25em auto;
}

header.image h1 {
    color: white;
}

h1 {
  text-align: left;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.1em;
  padding: 0;
  margin-bottom: 0;
}

header h3 {
  padding: 0;
  color: #cccccc;
  display: block;
  margin-top: 0.3em;
}

header span {
  display: inline;
}

#author span[class^="icon-"] {
  font-size: 24px;
}

#author {
  font-size: 17px;
  position: absolute;
  top: 64px;
  left: 48px;
  vertical-align: middle;
}

#author-image {
  display: inline-block;
  vertical-align: middle;
  border: solid 1px #0075ea;
  border-radius: 17px;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

#overview {
  font-size: 24px;
  position: absolute;
  top: 64px;
  right: 48px;
  text-align: right;
}

section {
  position: relative;
  margin-top: 3em;
  /*text-align: justify;*/
}

blockquote {
  position: relative;
  background: #eee;
  padding: 1em;
  color: #333;
  font-style: italic;
  font-size: 0.85em;
  margin: 0;
}

blockquote:before {
  position: absolute;
  font-family: sans-serif;
  font-style: normal;
  display: block;
  content: '\201c';
  left: -40px;
  top: 0;
  font-size: 5em;
}

img {
  display: block;
  max-width: 800px;
}

.sidebar {
  width: 150px;
  height: 150px;
  border-radius: 50% 50%;
}

.sidebar.left {
  float: left;
  margin-top: 3em;
  margin-left: -200px;
}

figcaption {
  border-top: 1px solid #999;
  position: absolute;
  top: 0px;
  right: -200px;
  width: 182px;
  padding: 1em 0 0 54px;
  font-size: 0.60em;
  font-style: italic;
  text-align: right;
}

section.image {
  width: auto;
  float: right;
  display: flex;
  justify-content: flex-end;
  padding: 0 0 3em 3em;
}

section.image + section.image {
  margin-top: 0;
}

div.divider {
  font-family: "jaf-facitweb", sans-serif;
  font-weight: bold;
  font-size: 1.75em;
  width: 1200px;
  margin: 3em -200px 0;
  border-bottom: solid 1px #999;
}

footer {
  margin: 3em auto 0;
  color: #888;
  font-size: 70%;
  padding: 2em;
  text-align: center;
}

footer img {
  padding: 0 0 20px;
  margin: 0 auto;
}

.circle {
  display: inline-block;
  width: 34px;
  height: 34px;
  font-size: 14px;
  border-radius: 17px;
  line-height: 32px;
  border: solid 0.1em #0075ea;
  text-align: center;
  vertical-align: text-bottom;
}

.circle:hover {
  border-width: 2px;
  line-height: 30px;
  cursor: pointer;
}

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.6);
  display: -webkit-flex;
  display: flex;
}

.dialog h2 {
  margin-left: 1.8em;
}

.dialog .content {
  background: white;
  margin: auto auto;
  padding: 2em;
  border: solid .3em #0075ea;
}

#ex-title {
  outline: 0px solid transparent;
}

.medium-editor-placeholder:after {
  color: #999;
}

.pure-menu {
  height: 40px;
  vertical-align: center;
}

.pure-menu ul {

}

.pure-menu .pure-menu-heading.draft {
  height: 30px;
  line-height: 18px;
  padding-left: 1em;
  border-left: 1px solid #777;
  text-transform: lowercase;
  vertical-align: middle;
}
