#zalendar * {
  box-sizing: border-box;
}

#zalendar::-webkit-scrollbar {
    width: 0;
}

#zalendar {
  display: block;
  margin: 0 auto;
  height: 300px;
  overflow-y: scroll;
}

.today {
  font-weight: bold;
}

.week, .day, .week:before {
  height: 2.7em;
  line-height: 2.2em;
}

.week {
  display: flex;
}

.day {
  cursor: pointer;
  width: 11%;
  text-align: center;

}

.week:before {
  box-sizing: border-box;
  font-weight: bold;
  text-align: right;
  display: inline-block;
  width: 15%;
  content: attr(data-week-of-year);
  padding: 0.2em 0.2em;
}

.day {
  padding: 0.2em 0.5em;
}

.day[data-month='0'] {
  background: rgba(0, 117, 234, 0.25);
}

.day:hover, .day[data-month='0']:hover {
  background: rgba(0, 117, 234, 0.60);
}

.month {
  display: none;
}

.month-end {
  position: relative;
}

.month-end:before {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  background: #f99400;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.1em 1em;
}

.month-0:before { content: "Tammikuu"; }
.month-1:before { content: "Helmikuu"; }
.month-2:before { content: "Maaliskuu"; }
.month-3:before { content: "Huhtikuu"; }
.month-4:before { content: "Toukokuu"; }
.month-5:before { content: "Kesäkuu"; }
.month-6:before { content: "Heinäkuu"; }
.month-7:before { content: "Elokuu"; }
.month-8:before { content: "Syyskuu"; }
.month-9:before { content: "Lokakuu"; }
.month-10:before { content: "Marraskuu"; }
.month-11:before { content: "Joulukuu"; }

/*

.month:before {
  position: absolute;
  float: left;
  font-weight: bold;
  padding: 0.2em 0 0 0.5em;

}

*/

