#zalendar * {
  box-sizing: border-box;
}

#zalendar::-webkit-scrollbar {
    width: 0;
}

#zalendar {
  display: block;
  margin: 0 auto;
  height: 300px;
  overflow-y: scroll;
}

.today {
  font-weight: bold;
}

.week, .day, .week:before {
  height: 2.7em;
  line-height: 2.2em;
}

.week {
  display: flex;
}

.day {
  cursor: pointer;
  width: 11%;
  text-align: center;

}

.week:before {
  box-sizing: border-box;
  font-weight: bold;
  text-align: right;
  display: inline-block;
  width: 20%;
  content: attr(data-week-of-year);
  padding: 0.2em 0.2em;
}

.day {
  padding: 0.2em 0.5em;
}

.day:hover {
  background: rgba(0, 117, 234, 0.25);
}

/*


.day[data-month='0'] {
  background: #ccc;
}

.day[data-month='0']:hover {
  background: #aaa;
}

.month {
  position: relative;
}
.month:before {
  position: absolute;
  float: left;
  font-weight: bold;
  padding: 0.2em 0 0 0.5em;

}

.month-0:before { content: "Tammikuu"; }
.month-1:before { content: "Helmikuu"; }
.month-2:before { content: "Maaliskuu"; }
.month-3:before { content: "Huhtikuu"; }
.month-4:before { content: "Toukokuu"; }
.month-5:before { content: "Kesäkuu"; }
.month-6:before { content: "Heinäkuu"; }
.month-7:before { content: "Elokuu"; }
.month-8:before { content: "Syyskuu"; }
.month-9:before { content: "Lokakuu"; }
.month-10:before { content: "Marraskuu"; }
.month-11:before { content: "Joulukuu"; }*/
