@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}
.flaticon-barbell:before {
	content: "\e000";
}
.flaticon-baseball18:before {
	content: "\e001";
}
.flaticon-basketball3:before {
	content: "\e002";
}
.flaticon-basketball35:before {
	content: "\e003";
}
.flaticon-biceps:before {
	content: "\e004";
}
.flaticon-bowling:before {
	content: "\e005";
}
.flaticon-boxing3:before {
	content: "\e006";
}
.flaticon-canopy:before {
	content: "\e007";
}
.flaticon-championship8:before {
	content: "\e008";
}
.flaticon-climbing5:before {
	content: "\e009";
}
.flaticon-climbing6:before {
	content: "\e00a";
}
.flaticon-drop19:before {
	content: "\e00b";
}
.flaticon-dumbbell21:before {
	content: "\e00c";
}
.flaticon-extreme1:before {
	content: "\e00d";
}
.flaticon-female139:before {
	content: "\e00e";
}
.flaticon-finish:before {
	content: "\e00f";
}
.flaticon-fishing11:before {
	content: "\e010";
}
.flaticon-floating1:before {
	content: "\e011";
}
.flaticon-girl2:before {
	content: "\e012";
}
.flaticon-golf22:before {
	content: "\e013";
}
.flaticon-guru:before {
	content: "\e014";
}
.flaticon-guru1:before {
	content: "\e015";
}
.flaticon-hockey2:before {
	content: "\e016";
}
.flaticon-hunter:before {
	content: "\e017";
}
.flaticon-ice46:before {
	content: "\e018";
}
.flaticon-ice49:before {
	content: "\e019";
}
.flaticon-ice57:before {
	content: "\e01a";
}
.flaticon-individual3:before {
	content: "\e01b";
}
.flaticon-jump7:before {
	content: "\e01c";
}
.flaticon-jumping2:before {
	content: "\e01d";
}
.flaticon-jumping27:before {
	content: "\e01e";
}
.flaticon-leg5:before {
	content: "\e01f";
}
.flaticon-man252:before {
	content: "\e020";
}
.flaticon-man362:before {
	content: "\e021";
}
.flaticon-mountain24:before {
	content: "\e022";
}
.flaticon-padding:before {
	content: "\e023";
}
.flaticon-person209:before {
	content: "\e024";
}
.flaticon-person212:before {
	content: "\e025";
}
.flaticon-ping3:before {
	content: "\e026";
}
.flaticon-regular2:before {
	content: "\e027";
}
.flaticon-rugby98:before {
	content: "\e028";
}
.flaticon-runner5:before {
	content: "\e029";
}
.flaticon-running30:before {
	content: "\e02a";
}
.flaticon-silhouette2:before {
	content: "\e02b";
}
.flaticon-skidiving:before {
	content: "\e02c";
}
.flaticon-skiing7:before {
	content: "\e02d";
}
.flaticon-skydiving2:before {
	content: "\e02e";
}
.flaticon-snowboard1:before {
	content: "\e02f";
}
.flaticon-soccer43:before {
	content: "\e030";
}
.flaticon-soccer44:before {
	content: "\e031";
}
.flaticon-sport11:before {
	content: "\e032";
}
.flaticon-sportive36:before {
	content: "\e033";
}
.flaticon-squash:before {
	content: "\e034";
}
.flaticon-stopwatch7:before {
	content: "\e035";
}
.flaticon-swimming20:before {
	content: "\e036";
}
.flaticon-tai1:before {
	content: "\e037";
}
.flaticon-tennis18:before {
	content: "\e038";
}
.flaticon-time13:before {
	content: "\e039";
}
.flaticon-trekking:before {
	content: "\e03a";
}
.flaticon-trophy45:before {
	content: "\e03b";
}
.flaticon-volleyball3:before {
	content: "\e03c";
}
.flaticon-walking17:before {
	content: "\e03d";
}
.flaticon-weightlift:before {
	content: "\e03e";
}
.flaticon-windsurf1:before {
	content: "\e03f";
}
.flaticon-yoga12:before {
	content: "\e040";
}
.flaticon-young3:before {
	content: "\e041";
}
