.inline-block {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
}
body.logged-out *.logged-in,
body.logged-in *.logged-out,
body.login #login-link {
  display: none;
}
#login-form input {
  display: block;
  width: 66%;
  margin: 0.2em 0 1em;
}
body.login #login-form {
  width: inherit;
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  -ms-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  -ms-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
}
body.login #login-form * {
  display: inline-block;
}
body *[role] {
  display: none;
  opacity: 0;
}
body div[role="menu"],
body[data-page="login"] div[role="login"],
body[data-page="latest"] div[role="latest"],
body[data-page="addex"] section[role="addex"],
body[data-page="users"] section[role="users"],
body[data-page="profile"] section[role="profile"],
body[data-page="systemstats"] section[role="systemstats"],
body[data-page="import"] section[role="import"],
body[data-page="user"] div[role="content"],
body[data-page="user"] section[role="user"],
body[data-page="summary"] section[role="summary"],
body[data-page="summary"] section[role="user"],
body[data-page="tagsummary"] section[role="tagsummary"],
body[data-page="tagsummary"] section[role="user"],
body[data-page="weeksummary"] section[role="weeksummary"],
body[data-page="weeksummary"] section[role="user"],
body[data-page="ex"] div[role="ex"],
body[data-page="ex"] section[role="user"],
body[data-page="tags"] div[role="content"],
body[data-page="register"] section[role="register"],
body[data-page="new-comments"] section[role="new-comments"],
body[data-page="new-own-comments"] section[role="new-own-comments"],
body[data-page="main"] div[role="main"] {
  display: block;
  opacity: 1;
}
body[data-page="login"] a[rel="login"],
body[data-page="latest"] a[rel="latest"],
body[data-page="summary"] a[rel="summary"],
body[data-page="tagsummary"] a[rel="tagsummary"],
body[data-page="weeksummary"] a[rel="weeksummary"],
body[data-page="import"] a[rel="import"],
body[data-page="user"] a[rel="user"],
body[data-page="users"] a[rel="users"],
body[data-page="profile"] a[rel="profile"],
body[data-page="systemstats"] a[rel="systemstats"],
body[data-page="addex"] a[rel="addex"],
body[data-page="register"] a[rel="register"],
body[data-page="new-comments"] a[rel="new-comments"],
body[data-page="new-own-comments"] a[rel="new-own-comments"],
body[data-page="main"] a[rel="main"] {
  font-weight: bold;
}
.right {
  float: right;
}
h4 span {
  padding-right: 7px;
}
img {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-right: 15px;
}
img.avatar {
  float: left;
  vertical-align: bottom;
}
article *.full {
  display: none;
}
article.full *.full {
  display: inherit;
}
article.full *.preview {
  display: none;
}
article.preview .body {
  height: 1.0em;
  overflow: hidden;
  text-overflow: ellipsis;
}
article h3,
article h4 {
  margin: 0;
}
article.exercise {
  margin-bottom: 1.5em;
}
article.exercise p {
  margin: 20px 0 0;
}
article .newEx {
  color: #ce1a00;
}
article img {
  box-sizing: border-box;
  max-width: 100% ! important;
  padding: 10px 10px 25px 10px;
  background: #efefef;
  border: 1px solid #ccc;
}
article img:nth-child(2n + 2) {
  -webkit-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
article img:nth-child(2n + 1) {
  -webkit-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
}
article img.avatar {
  box-sizing: content-box;
  padding: 0;
  margin-right: 15px;
  background: inherit;
  border: 0;
  -webkit-transform: none;
  transform: none;
}
article table.details {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 5px;
  width: 100%;
  text-align: left;
}
article table.details tr:nth-child(2n) {
  background: rgba(218, 124, 12, 0.1);
}
article table.details th {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  padding: 4px 10px;
  border-bottom: 2px solid #da7c0c;
}
article table.details h4 span {
  padding-right: 7px;
}
article table.details td {
  color: #000;
  padding: 9px 18px 0px 10px;
}
#content a.button {
  color: #ffffff;
  text-decoration: none;
}
a.button {
  color: #ffffff;
  border: solid 1px #da7c0c;
  background: #ed391b;
  background-image: -webkit-linear-gradient(top ,#ed391b 0, #ce1a00 270px);
  background-image: -moz-linear-gradient(top ,#ed391b 0, #ce1a00 270px);
  background-image: -ms-linear-gradient(top ,#ed391b 0, #ce1a00 270px);
  background-image: -o-linear-gradient(top ,#ed391b 0, #ce1a00 270px);
  background-image: linear-gradient(top ,#ed391b 0, #ce1a00 270px);
  background-image: -webkit-linear-gradient(top ,#ed391b 0, #ce1a00 270px);
  background-image: -moz-linear-gradient(top ,#ed391b 0, #ce1a00 270px);
  background-image: -ms-linear-gradient(top ,#ed391b 0, #ce1a00 270px);
  background-image: -o-linear-gradient(top ,#ed391b 0, #ce1a00 270px);
  background-image: linear-gradient(top ,#ed391b 0, #ce1a00 270px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ed391b', EndColorStr='#ce1a00');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ed391b', EndColorStr='#ce1a00');
  background-repeat: repeat-x;
  border: 0;
  text-decoration: none;
  font-size: 1em;
  font-weight: bolder;
  padding: 3px 30px;
  outline: 0;
  border-radius: 10px;
}
a.button:hover {
  background: #c52a10;
  background-image: -webkit-linear-gradient(top ,#c52a10 0, #9b1400 270px);
  background-image: -moz-linear-gradient(top ,#c52a10 0, #9b1400 270px);
  background-image: -ms-linear-gradient(top ,#c52a10 0, #9b1400 270px);
  background-image: -o-linear-gradient(top ,#c52a10 0, #9b1400 270px);
  background-image: linear-gradient(top ,#c52a10 0, #9b1400 270px);
  background-image: -webkit-linear-gradient(top ,#c52a10 0, #9b1400 270px);
  background-image: -moz-linear-gradient(top ,#c52a10 0, #9b1400 270px);
  background-image: -ms-linear-gradient(top ,#c52a10 0, #9b1400 270px);
  background-image: -o-linear-gradient(top ,#c52a10 0, #9b1400 270px);
  background-image: linear-gradient(top ,#c52a10 0, #9b1400 270px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c52a10', EndColorStr='#9b1400');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c52a10', EndColorStr='#9b1400');
  background-repeat: repeat-x;
}
a.button:active {
  color: #ffffff;
  background-image: -webkit-linear-gradient(top ,#f1624a 0, #ff2202 270px);
  background-image: -moz-linear-gradient(top ,#f1624a 0, #ff2202 270px);
  background-image: -ms-linear-gradient(top ,#f1624a 0, #ff2202 270px);
  background-image: -o-linear-gradient(top ,#f1624a 0, #ff2202 270px);
  background-image: linear-gradient(top ,#f1624a 0, #ff2202 270px);
  background-image: -webkit-linear-gradient(top ,#f1624a 0, #ff2202 270px);
  background-image: -moz-linear-gradient(top ,#f1624a 0, #ff2202 270px);
  background-image: -ms-linear-gradient(top ,#f1624a 0, #ff2202 270px);
  background-image: -o-linear-gradient(top ,#f1624a 0, #ff2202 270px);
  background-image: linear-gradient(top ,#f1624a 0, #ff2202 270px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1624a', EndColorStr='#ff2202');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1624a', EndColorStr='#ff2202');
  background-repeat: repeat-x;
}
a.button.disabled {
  color: #e9e9e9;
  border: solid 1px #555555;
  background: #6e6e6e;
  background-image: -webkit-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -moz-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -ms-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -o-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -webkit-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -moz-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -ms-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -o-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: linear-gradient(top ,#888888 0, #575757 270px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#888888', EndColorStr='#575757');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#888888', EndColorStr='#575757');
  background-repeat: repeat-x;
}
a.button.disabled:hover {
  background: #555555;
  background-image: -webkit-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -moz-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -ms-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -o-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -webkit-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -moz-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -ms-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -o-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6f6f6f', EndColorStr='#3e3e3e');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6f6f6f', EndColorStr='#3e3e3e');
  background-repeat: repeat-x;
}
a.button.disabled:active {
  color: #ffffff;
  background-image: -webkit-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -moz-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -ms-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -o-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -webkit-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -moz-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -ms-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -o-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: linear-gradient(top ,#a2a2a2 0, #717171 270px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a2a2a2', EndColorStr='#717171');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a2a2a2', EndColorStr='#717171');
  background-repeat: repeat-x;
}
a.modify {
  float: right;
  margin-top: 3px;
  margin-right: 10px;
  vertical-align: baseline;
}
a.addExercise,
a.editExercise,
a.addComment,
a.editComment {
  margin-top: 10px;
}
[role=addex][data-mode="add"] .edit {
  display: none;
}
[role=addex][data-mode="edit"] .add {
  display: none;
}
.edit-form input,
.edit-form em,
.edit-form #ex-continuous-date {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  width: 350px;
}
.edit-form #ex-continuous-date {
  width: 350px;
}
.edit-form em {
  width: inherit;
  margin-left: 124px;
}
.edit-form label {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  font-size: 14px;
  font-style: normal;
  width: 120px;
  line-height: 14px;
  padding: 0;
}
.edit-form #ex-body {
  margin: 0;
  padding: 10px;
  height: 300px;
}
.edit-form #add-tags-select label {
  margin-top: 15px;
}
.edit-form #add-tags-select .select2-container-multi {
  width: 350px ! important;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 7px 0;
}
.edit-form #add-tags-select .select2-container-multi input {
  height: 25px;
  width: 350px ! important;
}
.edit-form #add-tags-select .select2-container-multi * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.edit-form .buttons {
  margin-top: 12px;
}
table.weekly {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 10px;
  margin: 5px 0 0 30px;
  width: 96%;
  text-align: left;
}
table.weekly th {
  font-size: 14px;
  font-weight: normal;
  color: #000;
  padding: 4px 10px 0 0;
  border-bottom: 2px solid #da7c0c;
}
table.weekly th.day {
  width: 84px;
}
table.weekly td {
  padding: 3px 2px;
  color: #000;
  border: solid 1px #cccccc;
}
table.weekly td.other-month {
  background-color: rgba(200, 200, 200, 0.5);
}
table.weekly tbody th {
  font-weight: bold;
}
table.weekly .sport {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -143px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Golf {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Hieronta {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Jalkapallo {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Jooga {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -123px -40px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Jumppa {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Juoksu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -143px -20px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.J__kiekko {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -184px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Kamppailulaji {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -102px -60px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Kaukalopallo {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -184px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Kickbike {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px -80px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Kiipeily {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Koripallo {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -20px -20px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Kuntopiiri {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -122px -60px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Kuntosali {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -122px -60px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.K_vely {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Laskettelu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -61px 0px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Lentopallo {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -20px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Luistelu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -82px -60px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Luisteluhiihto {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Lumikenk_ily {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -80px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Lumilautailu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -61px 0px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Melonta {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -143px -79px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Nyrkkeily {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -184px -40px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Hiihto {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Perinteinen_hiihto {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Py_r_ily {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Ratsastus {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -61px -20px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Rullahiihto {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Rullaluistelu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -82px -60px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Sauvak_vely {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Seikkailu_urheilu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -82px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Sis_soutu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -20px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Soutu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -60px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Spinning {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Squash {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -82px -40px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Sulkapallo {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -102px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Suunnistus {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -82px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.S_hly {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -80px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Tanssi {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -143px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Tennis {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -184px -20px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Telinevoimistelu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Triathlon {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -20px -20px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Uinti {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -163px 0px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Vaellus {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Venyttely {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -184px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Vesijuoksu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Yleisurheilu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -163px -60px;
  width: 21px;
  height: 20px;
}
#weeksummary .monthName {
  text-align: center;
  margin: 20px 0 10px;
  padding: 0;
  line-height: 20px;
  height: 20px;
}
div.tooltip-content {
  display: block ! important;
}
p.signature {
  margin-left: 3em;
  font-style: italic;
  color: #777;
  float: right;
}
body .subnavi {
  float: right;
  vertical-align: bottom;
  line-height: 40px;
}
body .by h2 {
  font-size: 2.4em ! important;
}
body .by.year,
body .by.month {
  display: none;
}
body[data-filter="byyear"] .by.year {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
body[data-filter="bymonth"] .by.month {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
a.prev {
  margin: 0 0.3em 0 0.1em;
}
a.prev .arr {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  width: 0px;
  height: 0px;
  padding-right: 0.1em;
  border-style: solid;
  border-width: 8px 13.9px 8px 0;
  border-color: transparent #ED391B transparent transparent;
}
a.next {
  margin-left: 0.3em;
}
a.next.disabled {
  color: #373f42 ! important;
}
a.next.disabled .arr {
  border-color: transparent transparent transparent #373f42;
}
a.next .arr {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  padding-left: 0.1em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 0 8px 13.9px;
  border-color: transparent transparent transparent #ED391B;
}
a.prev,
a.next {
  text-decoration: none ! important;
  cursor: pointer;
}
a.delete,
a.delete-comment {
  float: right;
}
a.pageLink,
a.more {
  cursor: pointer;
}
body div[role="tooltip"] {
  display: block ! important;
  z-index: 10001;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
}
#content-wrapper {
  position: relative;
}
#content-wrapper.scroll-overflow #content-top {
  position: fixed;
  top: 105px;
  width: 100%;
  background-image: -webkit-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 12px);
  background-image: -moz-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 12px);
  background-image: -ms-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 12px);
  background-image: -o-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 12px);
  background-image: linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 12px);
  background-image: -webkit-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 12px);
  background-image: -moz-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 12px);
  background-image: -ms-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 12px);
  background-image: -o-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 12px);
  background-image: linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 12px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#51575a', EndColorStr='rgba(247, 247, 247, 0)');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#51575a', EndColorStr='rgba(247, 247, 247, 0)');
  background-repeat: repeat-x;
  height: 12px;
}
#user-menu-wrapper {
  padding: 0;
}
#user-menu-wrapper strong {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  padding-right: 2em;
}
#sidemenu header {
  margin-bottom: 1em;
}
#sidemenu li {
  border: none ! important;
  padding: 0 ! important;
  line-height: 1.5em;
}
.link-list {
  font-size: 80%;
}
.loading {
  width: 110px;
  margin: 0 auto;
}
.loading:after {
  content: 'Ladataan';
  text-align: center;
}
.error {
  color: #ce1a00;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.has-error {
  background: rgba(206, 26, 0, 0.1);
}
