body.logged-out *.logged-in,
body.logged-in *.logged-out,
body.login #login-link {
    display: none;
}

html, body, #content, #main-content {
    min-height: 100%;
}

.card .card-action,
.card .card-content {
    padding: 10px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.5rem;
    margin-top: 0.7rem;
}

h5 {
    font-size: 1.2rem;
}

p { margin: 0; }

#logo-container {
    padding-top: 10px;
    margin: 0 10px;
}

#profile-avatar {
    margin-right: 10px;
}

.brand-logo {
    margin: 0 10px;
}

body.login #login-form * {
    display: inline-block;
}
section[role],
div[role] {
    display: none;
    opacity: 0;
}

#comment-body,
div[role="dialog"] {
    display: block;
    opacity: 1;
}

article .full {
    display: none;
}
article.full .full {
    display: inherit;
}
article.full .preview {
    display: none;
}
article.preview .body {
    height: 1.0em;
    overflow: hidden;
    text-overflow: ellipsis;
}

h5.activator,
a.pageLink,
a.more,
a.mark,
a.button,
a.windowLink {
    cursor: pointer;
}

.avatar {
    margin-right: 20px;
}

.signature {
    margin-top: 1rem;
    margin-left: 3rem;
    font-style: italic;
}

#user-header {
    padding-left: 20px;
}

.extra li a,
#my-account li a, a {
    color: #039be5;
}

span.badge.new {
    background-color: #039be5;
}

.card-image .card-title {
    width: 100%;
    background: rgba(38,50,56,0);
    background: -moz-linear-gradient(top, rgba(38,50,56,0) 0%, rgba(38,50,56,0.35) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(38,50,56,0)), color-stop(100%, rgba(38,50,56,0.35)));
    background: -webkit-linear-gradient(top, rgba(38,50,56,0) 0%, rgba(38,50,56,0.35) 100%);
    background: -o-linear-gradient(top, rgba(38,50,56,0) 0%, rgba(38,50,56,0.35) 100%);
    background: -ms-linear-gradient(top, rgba(38,50,56,0) 0%, rgba(38,50,56,0.35) 100%);
    background: linear-gradient(to bottom, rgba(38,50,56,0) 0%, rgba(38,50,56,0.35) 100%);
}

.card.group .card-content {
    height: 200px;
    overflow-y: scroll;
}

.description {
    padding: 1rem 0;
}

.capitalize {
    text-transform: capitalize;
}

#graph-container h3,
#weekly-graph-container h3 {
    font-size: 1.2rem;
}

#graph-container {
    display: none;
}

body.pace #graph-container {
    display: block;
}

#comment-body p {
    padding-bottom: 1.5rem;
}

blockquote {
    margin-left: -20px;
    padding-left: 16px;
    border-width: 4px;
    border-color: #ffab40;
}

#main-content {
    margin-right: 260px;
    min-height: 100%;
    margin-bottom: 0;
}

@media only screen and (max-width: 992px) {
    #main-content {
        margin-right: 0;
    }
}

#chatSection {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    width: 260px;
    padding: 64px 0 0;
    border-left: solid 1px #9e9e9e;
}

#chatSection h5 {
    margin-left: 1rem;
}

#chatSection #messageBox * {
    font-size: 0.9rem;
}

.collection .collection-item.avatar {
    min-height: 64px;
}

.card .card-reveal {
 z-index: 100;
}

.dropdown-content li>span {
    color: #039be5;
}

.body-text img,
.body-text video {
    max-width: 100%;
    height: auto;
}

.body-text p,
.body-text div {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.body-text p:last-child,
.body-text div:last-child {
    padding-bottom: 0;
}

table.vertical td,
table.vertical th {
    padding: 3px 5px;

}

body div[role="menu"],
body[data-page="login"] div[role="login"],
body[data-page="latest"] div[role="content"],
body[data-page="tags"] div[role="content"],
body[data-page="sport"] div[role="content"],
body[data-page="user"] div[role="content"],
body[data-page="group"] div[role="content"],
body[data-page="filter"] div[role="content"],
body[data-page="new-comments"] div[role="content"],
body[data-page="new-own-comments"] div[role="content"],
body[data-page="most-comments"] div[role="content"],
body[data-page="latest"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="tags"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="sport"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="user"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="new-comments"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="new-own-comments"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="most-comments"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="latest"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="tags"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="sport"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="user"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="group"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="new-comments"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="new-own-comments"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="most-comments"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="user"] section[role="user"],
body[data-page="addex"] section[role="addex"],
body[data-page="users"] section[role="users"],
body[data-page="profile"] section[role="profile"],
body[data-page="systemstats"] section[role="systemstats"],
body[data-page="userprofile"] section[role="userprofile"],
body[data-page="groups"] section[role="groups"],
body[data-page="lists"] section[role="lists"],
body[data-page="tops"] section[role="tops"],
body[data-page="import"] section[role="import"],
body[data-page="summary"] section[role="summary"],
body[data-page="summary"] section[role="user"],
body[data-page="tagsummary"] section[role="tagsummary"],
body[data-page="tagsummary"] section[role="user"],
body[data-page="weeksummary"] section[role="weeksummary"],
body[data-page="weeksummary"] section[role="user"],
body[data-page="ex"] div[role="ex"],
body[data-page="ex"] section[role="user"],
body[data-page="register"] section[role="register"],
body.filter section[role="filter"],
body[data-page="main"] div[role="main"] {
    display: block;
    opacity: 1;
}
body[data-page="login"] a[rel="login"],
body[data-page="latest"] a[rel="tableview"],
body[data-page="summary"] a[rel="summary"],
body[data-page="tagsummary"] a[rel="tagsummary"],
body[data-page="weeksummary"] a[rel="weeksummary"],
body[data-page="import"] a[rel="import"],
body[data-page="user"] a[rel="user"],
body[data-page="users"] a[rel="users"],
body[data-page="profile"] a[rel="profile"],
body[data-page="userprofile"] a[rel="userprofile"],
body[data-page="systemstats"] a[rel="systemstats"],
body[data-page="searches"] a[rel="searches"],
body[data-page="groups"] a[rel="groups"],
body[data-page="lists"] a[rel="lists"],
body[data-page="tops"] a[rel="tops"],
body[data-page="addex"] a[rel="addex"],
body[data-page="register"] a[rel="register"],
body[data-page="new-comments"] a[rel="new-comments"],
body[data-page="new-own-comments"] a[rel="new-own-comments"],
body[data-page="most-comments"] a[rel="most-comments"],
body[data-page="main"] a[rel="main"] {
    font-weight: bold;
}

body[data-list-type="summary"] #summary-view,
body[data-page="new-comments"] #content-spinner,
body[data-page="new-own-comments"] #content-spinner,
body[data-list-type="list"] #list-view {
    display: none;
}
#view-toggles {
    display: none;
}
body[data-page="latest"] #view-toggles,
body[data-page="tags"] #view-toggles,
body[data-page="user"] #view-toggles,
body[data-page="sport"] #view-toggles,
body[data-page="group"] #view-toggles,
body[data-page="new-comments"] #view-toggles,
body[data-page="most-comments"] #view-toggles,
body[data-page="new-own-comments"] #view-toggles {
    display: inline;
}
.joined a.join,
.not-joined a.leave {
    display: none;
}

body[data-page="group"] #current-user-container,
body[data-page="sport"] #current-user-container,
body[data-page="tags"] #current-user-container,
#header-container {
    display: none;
}

#current-user-container .card {
    margin-top: 0;
}

body[data-page="group"] #header-container,
body[data-page="sport"] #header-container,
body[data-page="tags"] #header-container {
    display: block;
}

body .by.year,
body .by.month {
    display: none;
}
body[data-filter="bymonth"] .by.month,
body[data-filter="byyear"] .by.year {
    display: block;
}
body[data-filter="byyear"] .by.year .next,
body[data-filter="byyear"] .by.year .prev {
    cursor: pointer;
}

body[data-filter="bymonth"] .by.month .next,
body[data-filter="bymonth"] .by.month .prev {
    cursor: pointer;
}

.medium-editor-toolbar-form,
.medium-editor-anchor-preview {
    background-color: #ffab40;
    color: white;
}

.medium-insert-buttons {
    left: -14px !important;
}

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show {
    border-color: #ffab40;
    background: #ffab40;
    color: #fff;
}

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li {
    background-color: rgba(0,0,0,0.0);
}
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li a {
    font-size: 0.8rem;
    border-color: #ffab40;
    background: #ffab40;
    color: #fff;
}

.medium-editor-toolbar li button {
    border: solid #eceff1;
    border-width: 1px 1px 1px 0;
    background-color: #ffab40;
    color: #fff;
}

.medium-editor-toolbar li:first-child button {
    border-width: 1px;
}

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li:first-child,
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li:first-child a {
    display: none;
}

.medium-toolbar-arrow-under:after {
    border-color: #ffab40 transparent transparent;
}

.medium-insert-buttons-addons i.material-icons {
    vertical-align: middle;
    font-size: 20px;
}

.error {
    color: #ce1a00;
    font-weight: 700;
}
.has-error {
    background: rgba(226, 33, 33, 0.05);
}

a.addExercise,
a.editExercise,
a.addComment,
a.editComment {
    margin-top: 10px;
}
[role=addex][data-mode="add"] .edit {
    display: none;
}
[role=addex][data-mode="edit"] .add {
    display: none;
}

.froala-wrapper p {
    margin-bottom: 1.5rem !important;
}

#ex-body .froala-element.f-placeholder+span.fr-placeholder {
    left: 4.6rem;
    right: auto;
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 600px) {
    #ex-body .froala-element.f-placeholder+span.fr-placeholder {
        left: auto;
        right: auto;
    }

    .card {
        overflow-x: hidden;
    }

    .row .col {
        padding: 0;
    }
}

.pika-title {
    background-color: #ffa726;
    color: #fff;
}

.pika-label.dayname {
    background-color: #fb8c00;
    color: #fff;
}

.pika-label.year {
    color: #fff;
}
.is-selected .pika-button {
    background-color: #039be5;
    color: #fff;
}

.is-today .pika-button {
    color: #039be5;
}

.pika-button:hover {
    background: #039be5 !important;
}

.pika-ok {
    color: #039be5;
}



/***** HERE BE DRAGONS *****/
table.weekly {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 10px;
    text-align: left;
}
table.weekly td.other-month span.weeklyDay {
    color: #9e9e9e !important;
}
table.weekly td span.weeklyDay {
    float: left;
    vertical-align: top;
    color: #fb8c00;
}
table.weekly th {
    font-size: 14px;
    color: #000;
    padding: 4px 10px 0 0;
    border-bottom: 2px solid #fb8c00;
}
table.weekly th.day {
    width: 11%;
    font-weight: 400;
}
table.weekly th.week {
    width: 45px;
    text-align: center;
    font-weight: 400;
}
table.weekly th.totals {
    font-weight: 400;
    text-align: left;
}
table.weekly td.week {
    width: 45px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
}
table.weekly td {
    color: #000;
    border: solid 1px #cccccc;
    padding: 4px 4px 8px;
}
table.weekly td.other-month {
    background-color: rgba(200, 200, 200, 0.5);
}
table.weekly tbody th {
    font-weight: bold;
}

table.weekly .sport {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -143px -40px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Golf {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px 0px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Crossfit {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px 0px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Crosstrainer {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -20px -40px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Hieronta {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px 0px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Jalkapallo {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px 0px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Jooga {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -123px -40px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Jumppa {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -41px 0px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Juoksu {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -143px -20px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Maastojuoksu {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -143px -20px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.J__kiekko {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -184px 0px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Kahvakuula {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -122px -60px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Kamppailulaji {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -102px -60px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Kaukalopallo {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -184px 0px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Kickbike {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -41px -80px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Kiipeily {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -41px 0px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Koripallo {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -20px -20px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Kuntopiiri {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -122px -60px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Kuntosali {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -122px -60px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.K_vely {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px -79px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Laskettelu {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -61px 0px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Lentopallo {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -20px 0px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Beach_volley {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -20px 0px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Leuanveto {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -122px -60px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Luistelu {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -82px -60px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Luisteluhiihto {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px -40px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Hiihto {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px -40px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Lumikenk_ily {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px -80px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Lumilautailu {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -61px 0px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Melonta {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -143px -79px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Nyrkkeily {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -184px -40px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Hiihto {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px -40px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Perinteinen_hiihto {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px -40px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Py_r_ily {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -41px -79px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Maantiepy_r_ily {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -41px -79px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Cyclocross {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -41px -79px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Maastopy_r_ily {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -41px -79px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Ratsastus {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -61px -20px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Rullahiihto {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px -40px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Rullaluistelu {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -82px -60px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Sauvak_vely {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px -79px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Seikkailu_urheilu {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -82px -79px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Sis_soutu {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -20px -40px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Soutu {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px -60px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Spinning {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -41px -79px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Squash {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -82px -40px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Sulkapallo {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -102px 0px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Suunnistus {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -82px -79px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.S_hly {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px -80px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Salibandy {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px -80px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Tanssi {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -143px -40px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Tennis {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -184px -20px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Telinevoimistelu {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -41px 0px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Triathlon {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -20px -20px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Uinti {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -163px 0px;
    width: 21px;
    height: 20px;
}
table.weekly .sport.Vaellus {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px -79px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Venyttely {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -184px -79px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Vesijuoksu {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat 0px -79px;
    width: 20px;
    height: 20px;
}
table.weekly .sport.Yleisurheilu {
    display: inline-block;
    /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    zoom: 1;
    *display: inline;
    background: url(../img/icons_20.png) no-repeat -163px -60px;
    width: 21px;
    height: 20px;
}