.inline-block {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
}
body.logged-out *.logged-in,
body.logged-in *.logged-out,
body.login #login-link {
  display: none;
}
#image {
  max-width: 100% ! important;
}
a {
  text-decoration: none;
  color: #ff4030;
}
a:hover {
  text-decoration: underline;
  color: #fc1300;
}
#content section {
  -webkit-border-radius: 10px 0;
  -moz-border-radius: 10px 0;
  border-radius: 10px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 10px 0;
  -moz-border-radius: 10px 0;
  border-radius: 10px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
i {
  font-style: italic;
}
.ui-dialog {
  z-index: 99999;
}
p.count {
  color: #8c8c8c;
  font-size: 14px;
  float: left;
  margin-top: -10px !important;
}
.avatar {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.44);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.44);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
strong {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
#messageBox input {
  width: 90%;
}
#messages {
  width: auto;
  height: 250px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: auto;
}
#login-form input {
  display: block;
  width: 66%;
  margin: 0.2em 0 1em;
}
.chatMsg {
  font-size: 0.8em;
  margin-bottom: 5px !important;
  padding: 0px !important;
  line-height: 110%;
}
.chatUser {
  margin-right: 3px;
  color: red;
}
.chatAction {
  margin-right: 3px;
  color: green;
}
body.login #login-form {
  width: inherit;
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  -ms-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  -ms-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
}
body.login #login-form * {
  display: inline-block;
}
section[role],
div[role] {
  display: none;
  opacity: 0;
}
div[role="dialog"] {
  display: block;
  opacity: 1;
}
body div[role="menu"],
body[data-page="login"] div[role="login"],
body[data-page="latest"] div[role="content"],
body[data-page="tags"] div[role="content"],
body[data-page="sport"] div[role="content"],
body[data-page="user"] div[role="content"],
body[data-page="group"] div[role="content"],
body[data-page="new-comments"] div[role="content"],
body[data-page="new-own-comments"] div[role="content"],
body[data-page="most-comments"] div[role="content"],
body[data-page="latest"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="tags"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="sport"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="user"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="new-comments"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="new-own-comments"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="most-comments"][data-list-type="summary"] div[role="content"] section[role="tableview"],
body[data-page="latest"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="tags"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="sport"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="user"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="group"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="new-comments"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="new-own-comments"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="most-comments"][data-list-type="list"] div[role="content"] *[role="listview"],
body[data-page="user"] section[role="user"],
body[data-page="addex"] section[role="addex"],
body[data-page="users"] section[role="users"],
body[data-page="profile"] section[role="profile"],
body[data-page="systemstats"] section[role="systemstats"],
body[data-page="userprofile"] section[role="userprofile"],
body[data-page="groups"] section[role="groups"],
body[data-page="lists"] section[role="lists"],
body[data-page="import"] section[role="import"],
body[data-page="summary"] section[role="summary"],
body[data-page="summary"] section[role="user"],
body[data-page="tagsummary"] section[role="tagsummary"],
body[data-page="tagsummary"] section[role="user"],
body[data-page="weeksummary"] section[role="weeksummary"],
body[data-page="weeksummary"] section[role="user"],
body[data-page="ex"] div[role="ex"],
body[data-page="ex"] section[role="user"],
body[data-page="register"] section[role="register"],
body[data-page="main"] div[role="main"] {
  display: block;
  opacity: 1;
}
body[data-page="login"] a[rel="login"],
body[data-page="latest"] a[rel="tableview"],
body[data-page="summary"] a[rel="summary"],
body[data-page="tagsummary"] a[rel="tagsummary"],
body[data-page="weeksummary"] a[rel="weeksummary"],
body[data-page="import"] a[rel="import"],
body[data-page="user"] a[rel="user"],
body[data-page="users"] a[rel="users"],
body[data-page="profile"] a[rel="profile"],
body[data-page="userprofile"] a[rel="userprofile"],
body[data-page="systemstats"] a[rel="systemstats"],
body[data-page="searches"] a[rel="searches"],
body[data-page="groups"] a[rel="groups"],
body[data-page="lists"] a[rel="lists"],
body[data-page="addex"] a[rel="addex"],
body[data-page="register"] a[rel="register"],
body[data-page="new-comments"] a[rel="new-comments"],
body[data-page="new-own-comments"] a[rel="new-own-comments"],
body[data-page="most-comments"] a[rel="most-comments"],
body[data-page="main"] a[rel="main"] {
  font-weight: bold;
}
body[data-list-type="summary"] #summary-view,
body[data-page="new-comments"] #content-spinner,
body[data-page="new-own-comments"] #content-spinner,
body[data-list-type="list"] #list-view {
  display: none;
}
#view-toggles {
  display: none;
}
body[data-page="latest"] #view-toggles,
body[data-page="tags"] #view-toggles,
body[data-page="user"] #view-toggles,
body[data-page="sport"] #view-toggles,
body[data-page="group"] #view-toggles,
body[data-page="new-comments"] #view-toggles,
body[data-page="most-comments"] #view-toggles,
body[data-page="new-own-comments"] #view-toggles {
  display: inline;
}
article.joined a.join,
article.not-joined a.leave {
  display: none;
}
.right {
  float: right;
}
h4 span {
  padding-right: 7px;
}
.rhleft {
  float: left;
  max-width: 75%;
  margin-right: 15px;
}
.rhleft img {
  padding: 0;
}
.clearfix {
  clear: both;
  margin-bottom: 20px;
}
img {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-right: 15px;
}
img.avatar {
  float: left;
  vertical-align: bottom;
}
article *.full {
  display: none;
}
article.full *.full {
  display: inherit;
}
article.full *.preview {
  display: none;
}
article.preview .body {
  height: 1.0em;
  overflow: hidden;
  text-overflow: ellipsis;
}
article h3,
article h4 {
  margin: 0;
}
article.exercise {
  margin-bottom: 1.5em;
}
article.exercise p {
  margin: 20px 0 0;
}
article .newEx {
  color: #ce1a00;
}
article .share img {
  cursor: pointer;
  padding: 4px 0 0 0;
}
article img {
  max-width: 100% ! important;
  padding: 10px 10px 25px 10px;
}
article img.avatar {
  box-sizing: content-box;
  padding: 0;
  margin-right: 15px;
  background: inherit;
  border: 0;
  -webkit-transform: none;
  transform: none;
}
#week-content {
  margin-left: 30px;
}
table.simpleExs {
  margin-top: 8px;
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  color: #333333;
  border-width: 1px solid;
  border-color: #666666;
  border-collapse: collapse;
}
table.simpleExs th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.simpleExs td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}
table.details {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 5px;
  width: 100%;
  text-align: left;
}
table.details tr.new td,
table.details tr.new-comments td {
  font-weight: bold;
}
table.details tr:nth-child(2n) {
  background: rgba(218, 124, 12, 0.1);
}
table.details th {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  padding: 4px 10px;
  border-bottom: 2px solid #da7c0c;
}
table.details h4 span {
  padding-right: 7px;
}
table.details td {
  color: #000;
  padding: 9px 18px 0px 10px;
  overflow: hidden;
}
table.details td.title,
table.details td.user {
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.details td.comments,
table.details td.hr {
  text-align: right;
}
table.ranking {
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 5px;
  width: 100%;
  text-align: left;
  border: 1px solid #6e6e6e;
}
table.ranking tr {
  background-color: rgba(207, 65, 236, 0.05);
}
table.ranking tr.in td {
  background-color: rgba(18, 255, 3, 0.2);
}
table.ranking tr.inDanger td {
  background-color: rgba(255, 233, 0, 0.2);
}
table.ranking th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #000;
  padding: 4px 10px;
  border-bottom: 2px solid #111111;
}
table.ranking h4 span {
  padding-right: 7px;
}
table.ranking td {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  color: #000;
  padding: 9px 15px 0px 10px;
  overflow: hidden;
}
a.button {
  cursor: pointer;
}
a.button.join,
a.button.leave {
  width: 50px;
}
a.button.disabled {
  color: #e9e9e9;
  border: solid 1px #555555;
  background: #6e6e6e;
  background-image: -webkit-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -moz-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -ms-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -o-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -webkit-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -moz-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -ms-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: -o-linear-gradient(top ,#888888 0, #575757 270px);
  background-image: linear-gradient(top ,#888888 0, #575757 270px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#888888', EndColorStr='#575757');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#888888', EndColorStr='#575757');
  background-repeat: repeat-x;
}
a.button.disabled:hover {
  background: #555555;
  background-image: -webkit-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -moz-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -ms-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -o-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -webkit-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -moz-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -ms-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: -o-linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  background-image: linear-gradient(top ,#6f6f6f 0, #3e3e3e 270px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6f6f6f', EndColorStr='#3e3e3e');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6f6f6f', EndColorStr='#3e3e3e');
  background-repeat: repeat-x;
}
a.button.disabled:active {
  color: #ffffff;
  background-image: -webkit-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -moz-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -ms-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -o-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -webkit-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -moz-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -ms-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: -o-linear-gradient(top ,#a2a2a2 0, #717171 270px);
  background-image: linear-gradient(top ,#a2a2a2 0, #717171 270px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a2a2a2', EndColorStr='#717171');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a2a2a2', EndColorStr='#717171');
  background-repeat: repeat-x;
}
a.modify {
  float: right;
  margin-top: 3px;
  margin-right: 10px;
  vertical-align: baseline;
}
a.addExercise,
a.editExercise,
a.addComment,
a.editComment {
  margin-top: 10px;
}
[role=addex][data-mode="add"] .edit {
  display: none;
}
[role=addex][data-mode="edit"] .add {
  display: none;
}
.edit-form input,
.edit-form em,
.edit-form #ex-continuous-date {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  width: 290px;
}
.edit-form #ex-continuous-date {
  width: 290px;
}
.edit-form em {
  width: inherit;
  margin-left: 124px;
}
.edit-form label {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  font-size: 14px;
  font-style: normal;
  width: 120px;
  line-height: 14px;
  padding: 0;
}
.edit-form #ex-body {
  margin: 0;
  padding: 10px;
  height: 300px;
}
.edit-form #add-tags-select label {
  margin-top: 15px;
}
.edit-form #add-tags-select .select2-container-multi {
  width: 290px ! important;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 7px 0;
}
.edit-form #add-tags-select .select2-container-multi input {
  height: 25px;
  width: 290px ! important;
}
.edit-form #add-tags-select .select2-container-multi * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
table.weekly {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 10px;
  margin: 5px 0 0 30px;
  width: 98%;
  text-align: left;
}
table.weekly th {
  font-size: 14px;
  font-weight: normal;
  color: #000;
  padding: 4px 10px 0 0;
  border-bottom: 2px solid #da7c0c;
}
table.weekly th.day {
  width: 65px;
}
table.weekly td {
  padding: 3px 2px;
  color: #000;
  border: solid 1px #cccccc;
}
table.weekly td.other-month {
  background-color: rgba(200, 200, 200, 0.5);
}
table.weekly tbody th {
  font-weight: bold;
}
table.weekly .sport {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -143px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Golf {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Crossfit {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Crosstrainer {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -20px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Hieronta {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Jalkapallo {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Jooga {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -123px -40px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Jumppa {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Juoksu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -143px -20px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Maastojuoksu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -143px -20px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.J__kiekko {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -184px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Kahvakuula {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -122px -60px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Kamppailulaji {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -102px -60px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Kaukalopallo {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -184px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Kickbike {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px -80px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Kiipeily {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Koripallo {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -20px -20px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Kuntopiiri {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -122px -60px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Kuntosali {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -122px -60px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.K_vely {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Laskettelu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -61px 0px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Lentopallo {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -20px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Beach_volley {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -20px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Leuanveto {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -122px -60px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Luistelu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -82px -60px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Luisteluhiihto {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Hiihto {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Lumikenk_ily {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -80px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Lumilautailu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -61px 0px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Melonta {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -143px -79px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Nyrkkeily {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -184px -40px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Hiihto {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Perinteinen_hiihto {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Py_r_ily {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Maantiepy_r_ily {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Cyclocross {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Maastopy_r_ily {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Ratsastus {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -61px -20px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Rullahiihto {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Rullaluistelu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -82px -60px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Sauvak_vely {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Seikkailu_urheilu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -82px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Sis_soutu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -20px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Soutu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -60px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Spinning {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Squash {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -82px -40px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Sulkapallo {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -102px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Suunnistus {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -82px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.S_hly {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -80px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Salibandy {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -80px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Tanssi {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -143px -40px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Tennis {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -184px -20px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Telinevoimistelu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -41px 0px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Triathlon {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -20px -20px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Uinti {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -163px 0px;
  width: 21px;
  height: 20px;
}
table.weekly .sport.Vaellus {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Venyttely {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -184px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Vesijuoksu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat 0px -79px;
  width: 20px;
  height: 20px;
}
table.weekly .sport.Yleisurheilu {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  background: url(../img/icons_20.png) no-repeat -163px -60px;
  width: 21px;
  height: 20px;
}
#weeksummary .monthName {
  text-align: center;
  margin: 20px 0 10px;
  padding: 0;
  line-height: 20px;
  height: 20px;
}
div.tooltip-content {
  display: block ! important;
}
p.signature {
  margin-left: 3em;
  font-style: italic;
  color: #777;
  float: right;
}
body .subnavi {
  float: right;
  vertical-align: bottom;
  line-height: 36px;
}
body .by h2 {
  font-size: 2.4em ! important;
}
body .by.year,
body .by.month {
  display: none;
}
body[data-filter="byyear"] .by.year {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
body[data-filter="bymonth"] .by.month {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
a.prev {
  margin: 0 0.3em 0 0.1em;
}
a.prev .arr {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  width: 0px;
  height: 0px;
  padding-right: 0.1em;
  border-style: solid;
  border-width: 8px 13.9px 8px 0;
  border-color: transparent #ED991B transparent transparent;
}
a.next {
  margin-left: 0.3em;
}
a.next.disabled {
  color: #373f42 ! important;
}
a.next.disabled .arr {
  border-color: transparent transparent transparent #373f42;
}
a.next .arr {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  padding-left: 0.1em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 0 8px 13.9px;
  border-color: transparent transparent transparent #ED991B;
}
a.prev,
a.next {
  text-decoration: none ! important;
  cursor: pointer;
}
a.delete,
a.delete-comment {
  float: right;
}
a.pageLink,
a.more,
a.mark,
a.windowLink {
  cursor: pointer;
}
a.sportLink {
  float: right;
  font-size: 14px;
}
body div[role="tooltip"] {
  display: block ! important;
  z-index: 10001;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
}
#content-wrapper {
  position: relative;
}
body.logged-out #content-top {
  display: none;
}
#search {
  width: 200px;
  margin-left: 5px;
}
#search-container {
  display: none;
}
body[data-page="latest"] #search-container {
  display: block;
}
#header-container {
  display: none;
}
.clear {
  clear: both;
}
#right-addex-container {
  width: 170px;
  float: right;
}
#left-addex-container {
  width: 70%;
  float: left;
}
.small-input {
  width: 50px !important;
}
#right-detail-container {
  width: 30%;
  float: right;
}
#left-detail-container {
  width: 70%;
  float: left;
}
body[data-page="user"] #header-container,
body[data-page="group"] #header-container,
body[data-page="sport"] #header-container,
body[data-page="tags"] #header-container {
  display: block;
}
#content-wrapper.scroll-overflow #content-top {
  z-index: 20000;
  position: fixed;
  top: 105px;
  width: 100%;
  background-image: -webkit-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 0px);
  background-image: -moz-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 0px);
  background-image: -ms-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 0px);
  background-image: -o-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 0px);
  background-image: linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 0px);
  background-image: -webkit-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 0px);
  background-image: -moz-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 0px);
  background-image: -ms-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 0px);
  background-image: -o-linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 0px);
  background-image: linear-gradient(top ,#51575a 0, rgba(247, 247, 247, 0) 0px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#51575a', EndColorStr='rgba(247, 247, 247, 0)');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#51575a', EndColorStr='rgba(247, 247, 247, 0)');
  background-repeat: repeat-x;
  height: 12px;
}
#content a.button,
#login-wrapper a.button {
  color: #fff;
  font-weight: normal;
  font-size: 13px;
  text-shadow: none;
}
#right-detail-container a.button {
  color: #ff5700 ! important;
  font-weight: normal;
  font-size: 10px;
  text-shadow: none;
}
.dropdown-slider {
  z-index: 1;
}
#user-menu-wrapper {
  padding: 0;
}
#user-menu-wrapper strong {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  padding-right: 2em;
}
#user-menu-wrapper a {
  padding-left: 1em;
}
#user-menu-wrapper a:hover {
  color: #0000ee;
  text-decoration: none;
}
#sidemenu header {
  margin-bottom: 1em;
}
#sidemenu li {
  border: none ! important;
  padding: 0 ! important;
  line-height: 1.5em;
}
.loading {
  width: 110px;
  margin: 0 auto;
}
.loading:after {
  content: 'Ladataan';
  text-align: center;
}
.error {
  color: #ce1a00;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.has-error {
  background: rgba(226, 33, 33, 0.05);
}
