.inline-block {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #358e92;
}
a:hover {
  text-decoration: underline;
  color: #28696d;
}
h4 span {
  padding-right: 7px;
}
img {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-right: 15px;
}
img.avatar {
  float: left;
  vertical-align: bottom;
}
html {
  background-color: #a5ecef;
  background-image: -webkit-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -moz-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -ms-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -o-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -webkit-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -moz-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -ms-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -o-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: linear-gradient(top ,#006862 0, #a5ecef 270px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#006862', EndColorStr='#a5ecef');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#006862', EndColorStr='#a5ecef');
  background-repeat: repeat-x;
  height: 100%;
}
header[role="top"] {
  position: relative;
  height: 210px;
  background: url(../img/ontrail-notext.png) no-repeat -2px -68px;
  background-color: #ffffff;
  padding: 150px 0px 0px;
  -webkit-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -moz-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -ms-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -o-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -webkit-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -moz-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -ms-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -o-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
}
header[role="top"] h1 {
  position: absolute;
  font-size: 44px;
  font-family: 'Nosifer', cursive;
  top: 10px;
  right: 40px;
  text-align: right;
}
body {
  width: 962px;
  margin: 0 auto;
  min-height: 100%;
  border-left: 3px solid #006862;
  border-right: 3px solid #006862;
  background-color: #f0f0f0;
}
body[data-page="login"] header {
  height: 268px;
  background-position: -2px 0;
  padding-top: 268px;
}
body .content-area *[role] {
  display: none;
  padding: 10px;
  opacity: 0;
}
body div[role="menu"],
body[data-page="login"] div[role="login"],
body[data-page="latest"] section[role="latest"],
body[data-page="home"] section[role="home"],
body[data-page="addex"] section[role="addex"],
body[data-page="user"] section[role="user"],
body[data-page="profile"] section[role="profile"],
body[data-page="ex"] section[role="ex"],
body[data-page="tag"] section[role="tag"],
body[data-page="main"] div[role="main"] {
  display: block;
  opacity: 1;
}
body[data-page="login"] a[rel="login"],
body[data-page="latest"] a[rel="latest"],
body[data-page="home"] a[rel="home"],
body[data-page="user"] a[rel="user"],
body[data-page="addex"] a[rel="addex"],
body[data-page="main"] a[rel="main"] {
  font-weight: bold;
}
div[role="menu"] {
  width: 100%;
  height: 44px;
  padding-bottom: 0;
  background-color: #ffffff;
}
div[role="menu"] ul {
  width: 100%;
  padding: 12px 8px;
  list-style: none;
}
div[role="menu"] li {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  vertical-align: bottom;
}
div[role="menu"] li.right {
  float: right;
}
div[role="menu"] input {
  width: 150px;
  margin: -8px 0.3em auto 0.8em;
}
label {
  font-weight: bold;
  font-size: 1.2em;
  vertical-align: middle;
  padding: 40px 0;
}
input,
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0 2px 0 5px;
  font-size: 1em;
  outline: none;
}
input {
  height: 1.68em;
  line-height: 1.68em;
}
input:focus {
  border: 2px solid rgba(0, 0, 0, 0.25);
}
#search {
  width: 75%;
  margin-left: 20px;
}
div[role="login"] {
  width: 450px;
}
div[role="login"] * {
  margin-bottom: 1.1em;
}
div[role="login"] fieldset {
  width: 100%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 10px 30px;
  margin: 40px;
  background-color: #ffffff;
  border: solid 3px #87dfe0;
}
div[role="login"] fieldset h2 {
  width: 90%;
  margin: 1em auto;
}
section > div {
  margin-right: 250px;
}
section article {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  padding: 8px 20px;
  margin: 5px 5px 10px;
  width: 680px;
}
section article *.full {
  display: none;
}
section article.full *.full {
  display: inherit;
}
section article.full *.preview {
  display: none;
}
section article.preview .body {
  height: 1.0em;
  overflow: hidden;
  text-overflow: ellipsis;
}
section article ul {
  display: inline-block;
  list-style: none;
}
section article li {
  display: inline;
}
section article.exercise h2,
section article.comment h2,
section article.exercise h4,
section article.comment h4 {
  margin: 0;
  padding: 0;
}
section article.exercise h4,
section article.comment h4 {
  padding-bottom: 10px;
}
section table.details {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin: 5px;
  width: 640px;
  text-align: left;
}
section table.details th {
  font-size: 14px;
  font-weight: normal;
  color: #000;
  padding: 4px 10px;
  border-bottom: 2px solid #6678b1;
}
section table.details td {
  color: #000;
  padding: 9px 18px 0px 10px;
}
aside {
  float: right;
  width: 250px;
  padding: 5px 20px;
  height: 100%;
}
footer {
  clear: both;
  width: 100%;
}
body.logged-out *.logged-in,
body.logged-in *.logged-out,
body.login #login-link {
  display: none;
}
.login form {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
}
#login-form {
  display: inline-block;
  width: 0;
}
#login-form * {
  display: none;
}
body.login #login-form {
  width: inherit;
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  -ms-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  -ms-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
}
body.login #login-form * {
  display: inline-block;
}
section input,
section select,
section textarea {
  margin: 10px 10px 10px 0;
  display: block;
}
#ex-continuous-date {
  height: 1.1em;
}
html .continuousCalendarContainer .popUpContainer {
  position: absolute;
}
.error {
  color: red;
}
.edit-form input,
.edit-form textarea,
.edit-form em,
.edit-form #ex-continuous-date {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  width: 350px;
}
.edit-form #ex-continuous-date {
  width: 350px;
}
.edit-form em {
  width: inherit;
}
.edit-form label {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
  font-size: 14px;
  font-style: normal;
  width: 120px;
  line-height: 14px;
  padding: 0;
}
.edit-form textarea {
  margin: 0;
  padding: 10px;
  width: 500px;
  height: 300px;
}
.edit-form #add-tags-select label {
  margin-top: -17px;
}
.edit-form #add-tags-select .chzn-container-multi {
  box-sizing: content-box;
  padding: 7px 0;
}
.edit-form #add-tags-select .chzn-container-multi * {
  box-sizing: content-box;
}
