.inline-block {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #358e92;
}
a:hover {
  text-decoration: underline;
  color: #28696d;
}
html {
  background-color: #a5ecef;
  background-image: -webkit-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -moz-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -ms-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -o-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -webkit-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -moz-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -ms-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: -o-linear-gradient(top ,#006862 0, #a5ecef 270px);
  background-image: linear-gradient(top ,#006862 0, #a5ecef 270px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#006862', EndColorStr='#a5ecef');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#006862', EndColorStr='#a5ecef');
  background-repeat: repeat-x;
  height: 100%;
}
header[role="top"] {
  position: relative;
  height: 190px;
  background: url(../img/ontrail-notext.png) no-repeat -2px -88px;
  background-color: #ffffff;
  padding: 150px 0px 0px;
  -webkit-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -moz-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -ms-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -o-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -webkit-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -moz-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -ms-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  -o-transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
  transition: height .5s ease, background .5s ease, padding .5s ease, opacity .5s linear;
}
header[role="top"] h1 {
  position: absolute;
  font-size: 44px;
  font-family: 'Nosifer', cursive;
  top: 10px;
  right: 40px;
  text-align: right;
}
body {
  width: 962px;
  margin: 0 auto;
  min-height: 100%;
  border-left: 3px solid #006862;
  border-right: 3px solid #006862;
  background-color: #f0f0f0;
}
body[data-page="login"] header {
  height: 268px;
  background-position: -2px 0;
  padding-top: 268px;
}
body div[role] {
  display: none;
  padding: 10px;
  opacity: 0;
}
body div[role="menu"],
body[data-page="login"] div[role="login"],
body[data-page="latest"] div[role="latest"],
body[data-page="main"] div[role="main"] {
  display: block;
  opacity: 1;
}
div[role="menu"] {
  width: 100%;
  padding: 0;
  background-color: #ffffff;
}
div[role="menu"] ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
div[role="menu"] ul li {
  display: inline-block;
  /* Fix for IE: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

  zoom: 1;
  *display: inline;
}
div[role="menu"] ul li.right {
  float: right;
}
div[role="login"] {
  width: 450px;
}
div[role="login"] input {
  display: block;
}
div[role="login"] * {
  margin-bottom: 1.1em;
}
div[role="login"] fieldset {
  font-family: 'Audiowide', cursive;
  width: 100%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 10px 30px;
  margin: 40px;
  background-color: #ffffff;
  border: solid 3px #87dfe0;
}
div[role="login"] fieldset h2 {
  width: 90%;
  margin: 1em auto;
}
div[role="login"] fieldset input {
  font-family: 'Audiowide', cursive;
  width: 90%;
  height: 2em;
  margin: 1em auto;
}
section > div {
  margin-right: 250px;
}
section article {
  background: #ffffff;
  padding: 5px;
  margin: 5px;
}
aside {
  float: right;
  width: 250px;
  height: 100%;
}
